<%include ./partials/header.ejs %>
<div class="w-full h-screen  bg-zinc-300 bg-center bg-cover flex items-center justify-center">
    <div class="w-72  bg-white px-4 py-5 rounded-md ">
      <h1 class="text-xl font-bold text-center">Create New Account</h1>
      <form action="/register" method="post">
       
        <input class=" block mt-2 w-full px-2 py-2 border-2 border-gray-200  rounded-md" type="text" name="username" placeholder="username">
        <input class=" block mt-2 w-full px-2 py-2 border-2 border-gray-200  rounded-md" type="text" name="name" placeholder="name">
        <input class=" block mt-2 w-full px-2 py-2 border-2 border-gray-200  rounded-md" type="email" placeholder="email" name="email" >
        <input class=" block mt-2 w-full px-2 py-2 border-2 border-gray-200  rounded-md" type="number" name="contact" placeholder="contact details">
        <input class=" block mt-2 w-full px-2 py-2 border-2 border-gray-200  rounded-md" type="password" placeholder="password" name="password">
        <input class=" block mt-2 w-full px-2 py-2 border-2  bg-red-600 rounded-full" type="submit" value="login">
      </form>
      
      <p class="text-center  mt-2 text-md text-zinc-700 " >
        By continuing, you agree to Pinterest's
        <b>Terms of Service, Privacy policy.</b>
      </p>
      <P class="mt-3 px-1 py3" ><a href="/">Already on Pinterest? Login here</a></P>
    </div>
  </div>
<%include ./partials/header.ejs %>
